#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
    position: relative;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    top: 10px;
    z-index: 1;
}

.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.message-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.message-row img {
    widows: 45px;
    height: 45px;
    border-radius: 30%;
    margin-right: 10px;
}

.message-row__content {
    display: flex;
    flex-direction: column;
}

.message__author {
    display: block;
    margin-bottom: 5px;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__author,
.message__time {
    opacity: 0.8;
    font-size: 11px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    margin-left: 5px;
}

.message-row--own .message__info{
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 3px 23px;
    align-items: center;
    box-sizing: border-box;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply i {
    opacity: 0.6;
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -4px;
    top: 7px;
}

.reply__column:last-child > i {
    right: 27px;
    top: 18.5px;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}
